html {
    background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
  }

body {
    /* margin: 0; */
    font-size: 2rem;
    /* display: flex;
    flex: 1; */
    min-height: 100vh;
    align-items: center;
}

/* Estilos del mensaje      */
.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}

.success, .danger {
    color: white;
    max-width: 50em;
}

.danger {
    background-color: red;
}

.success {
    background-color: green;
}

/* Estilos de la tabla */
.table {
    background-color: white;
    max-width: 3000vh;
}