.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}

.success, .danger {
    color: white;
    max-width: 50em;
}

.danger {
    background-color: red;
}

.success {
    background-color: green;
}